# Created by .ignore support plugin (hsz.mobi)
### Gradle template
.gradle
/build/
/agent/build/
/common/build/
/server/build/

/agent/out/
/common/out/
/server/out/

/server/data/
/downloads/
/servers/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

### JetBrains template
# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/modules

# IntelliJ
/out/


